.login {
  min-height: calc(100vh - 70px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 600px) {
    min-height: calc(100vh - 100px);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

    background: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @media only screen and (max-width: 600px) {
      width: 70%;
    }

    h1 {
      text-align: center;
      margin-bottom: 0px;
      margin-top: 0;
    }

    input {
      border: 1px solid black;
      border-radius: 3px;
      padding: 8px 12px;
      font-size: 16px;
    }

    button {
      padding: 8px;
      border: none;
      border-radius: 3px;
      background: orangered;
      color: white;
      cursor: pointer;
      font-size: 18px;
    }
  }
}
