.card {
  width: 300px;
  height: 220px;
  background: white;
  box-shadow: rgba(230, 230, 230, 0.2) 0px 8px 24px;
  padding: 20px 10px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .imgbox {
    text-align: center;

    img {
      border-radius: 50%;
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn {
      padding: 8px 16px;
      border-radius: 18px;
      border: none;
      background: orangered;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 5px 5px 3px 1px rgba(255, 115, 0, 0.4);
        transform: translateY(-3px);
        transform: translateX(-1px);
      }
    }
  }
}
