.home {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 600px) {
    min-height: calc(100vh - 100px);
  }

  .box {
    width: 70%;
    background: white;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
    }

    h4 {
      text-align: center;
      font-weight: 500;
    }

    .btn {
      padding: 8px 16px;
      border-radius: 18px;
      border: none;
      background: orangered;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-top: 20px;
      margin-bottom: 20px;

      &:hover {
        box-shadow: 5px 5px 3px 1px rgba(255, 115, 0, 0.4);
        transform: translateY(-3px);
        transform: translateX(-1px);
      }
    }
  }
}
