.navbar {
  background: white;
  height: 70px;
  color: black;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;

  @media only screen and (max-width: 600px) {
    height: 100px;
  }

  nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    .logo {
      font-size: 25px;
      font-weight: 500;
      cursor: pointer;
    }

    .list {
      list-style: none;
      display: flex;
      padding: 0;

      li {
        margin-left: 30px;
        cursor: pointer;

        @media only screen and (max-width: 600px) {
          margin: 0px 10px;
        }

        .link {
          color: black;
          text-decoration: none;
          padding: 8px;
          transition: all 0.2s ease-in-out;
          border-radius: 8px;

          &:hover {
            background: orangered;
            color: white;
            text-decoration: none;
            padding: 8px;
            transition: all 0.2s ease-in-out;
            border-radius: 8px;
            box-shadow: 5px 5px 3px 1px rgba(255, 115, 0, 0.4);
            transform: translateY(-3px);
            transform: translateX(-1px);
          }
        }

        .active {
          background: orangered;
          color: white;
          text-decoration: none;
          padding: 8px;
          transition: all 0.2s ease-in-out;
          border-radius: 8px;

          &:hover {
            box-shadow: 5px 5px 3px 1px rgba(255, 115, 0, 0.4);
            transform: translateY(-3px);
            transform: translateX(-1px);
          }
        }
      }
    }
  }
}
