.user {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @media only screen and (max-width: 600px) {
    min-height: calc(100vh - 100px);
  }

  .btn {
    padding: 8px 16px;
    border-radius: 18px;
    border: none;
    background: orangered;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;

    &:hover {
      box-shadow: 5px 5px 3px 1px rgba(255, 115, 0, 0.4);
      transform: translateY(-3px);
      transform: translateX(-1px);
    }
  }

  .card {
    width: 60%;
    background: white;
    box-shadow: rgba(230, 230, 230, 0.2) 0px 8px 24px;
    padding: 20px 10px;
    border-radius: 8px;

    .picture {
      text-align: center;

      img {
        border-radius: 50%;
      }
    }

    .desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        margin: 10px 0;

        .icon {
          width: 30px;
        }
      }

      @media only screen and (max-width: 600px) {
        h1 {
          font-size: 28px;
        }
      }
    }
  }
}
